<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <div class ="container">
    <div class="row">

<div>
<h2>Contact Book</h2>
<a href="/add_data"><button class="btn btn-primary">Add New Contact</button></a>
</div>

<table class ='col-md-6'>
  <tr>
    <th>Sl No</th>
    <th>Name</th>
    <th>Contact</th>
    <th></th>
    <th></th>
  </tr>
  {% for i in rows %}
  <tr>
    <td>{{i.sl}}</td>
    <td>{{i.name}}</td>
    <td>{{i.number}}</td>
    <td><center><a href="/edit/{{i.sl}}"><i class="fa fa-pencil"></i></a></center></td>
    <td><center><a href="/delete/{{i.sl}}"><i class="fa-solid fa-trash-can"></i></a></center></td>
  </tr>
  {% endfor %}
  
</table>
</div>
</div>
</body>
</html>

